<!DOCTYPE html>
<html>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  
  <body>
    <canvas id="myChart" style="width: 100%; max-width: 600px"></canvas>
    <canvas id="barChart" style="width:100%;max-width:600px"></canvas>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
      $(document).ready(function () {
          var req = {
            "Product_id": 3,
            "datefrom": '2021-11-02 05:04:27',
            "dateto": '2022-11-02 05:04:57',
          };
        $.post(
          "http://127.0.0.1:8000/getchart",
          JSON.stringify(req),
          function (data, status) {
            console.log(data);
            showchart(data);
          }
        );
      });
      function showchart(data){
          var datearr=[],pricearr=[],quanarr=[],Customer_bidpricearr=[];
          for(var i =0;i<data.length;i++)
          {
              datearr.push(data[i].datefrom);
              pricearr.push(data[i].price);
              quanarr.push(data[i].quantity);
              Customer_bidpricearr.push(data[i].Customer_bidprice);
              
          }



      new Chart("myChart", {
        type: "line",
        data: {
          labels: datearr,
          datasets: [{
              data:pricearr,
              borderColor: "green",
              fill: false,
        },
        {
              data:Customer_bidpricearr,
              borderColor: "blue",
              fill: false,
        }]
            },
          legend: { display: false },
        },
      );

      new Chart("barChart", {
        type: "bar",
        data: {
          labels: datearr,
          datasets: [
            {
              data: quanarr,
              borderColor: "red",
              backgroundColor: "red",
              fill: true,
            },
            
          ],
        },
        options: {
          legend: { display: false },
        },
      });
      

      }

      
    </script>
  </body>
</html>
